.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.thumbnails-row{
  margin-bottom: 13px;
}

.thumbnail{
  width: 100%;
  display: block;
}

.profile-picture{
  width: 40px;
  border-radius: 50px;
}

.video-title{
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.video-author,
.video-stats{
  color: rgb(96, 96, 96);
  font-size: 12px;
  margin-bottom: 4px;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}